body{
    margin: 0;
}


.wrap{
    height: 300px;
    /*background: #e0e2fd;*/

    display: flex;
    /*justify-content: center;*/
    justify-content: space-evenly;
}


.card{
    width: 250px;
    height: 300px;
    background: white;

    box-sizing: border-box;
    border: 1px solid black;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 100px;
    /*background: #8ca6fc;*/

    font-size: 30px;
    font-family: Arial, serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.txt {
    width: 100%;
    height: 110px;
    /*background: silver;*/

    font-size: 15px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;
}

.link {
    width: 80%;
    height: 50px;
    /*background: gainsboro;*/

    box-sizing: border-box;
    border: 1px solid black;
    justify-content: center;

    display: flex;
    align-items: center;

    font-size: 15px;
    text-decoration: none;
    color: black;


}
